@font-face {
   font-family: 'JetBrains Mono';
   src: url("../fonts/JetBrainsMono-Medium.woff2") format('woff2'),
      url("../fonts/JetBrainsMono-Medium.woff") format("woff");
}

* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
}

body {
   font-family: 'JetBrains Mono';
}

#nav-bar-container {
   font-size: 24px;
   text-transform: capitalize;
   position: fixed;
   width: 100%;
   background: #000;
}

#nav-bar-container a {
   text-decoration: none;
   color: white;
}

#nav-bar-container ul li {
   float: right;
   list-style: none;
   margin-right: 48px;
   padding: 16px 16px;
}

#logo {
   float: left;
   margin-left: 48px;
   padding: 16px;
}

.sections {
   padding: 65px;
   height: 100%;
}

#networking {
   border-left: 3px solid black;
   margin: 48px;
   padding-left: 16px;
   text-align: start;
}

#networking h1 {
   font-size: 18px;
   padding: 12px 12px 6px 0;
}

#networking a {
   text-decoration: none;
}

#networking i {
   padding: 6px 12px 12px 0;
}

footer {
   margin: 48px;
}

footer div {
   font-size: 18px;
   margin: 48px;
   padding: 16px;
   text-align: center;
   text-transform: capitalize;
}