@font-face {
   font-family: 'JetBrains Mono';
   src: url("../fonts/JetBrainsMono-Medium.woff2") format('woff2'),
      url("../fonts/JetBrainsMono-Medium.woff") format("woff");
}

* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
}

body {
   font-family: 'JetBrains Mono';
}

#nav-bar-container {
   background: #000;
   font-size: 24px;
   position: fixed;
   text-transform: capitalize;
   width: 100%;
}

#nav-bar-container a {
   text-decoration: none;
   color: white;
}

#nav-bar-container ul li {
   float: right;
   list-style: none;
   margin-right: 48px;
   padding: 16px 16px;
}

#logo {
   float: left;
   margin-left: 48px;
   padding: 16px;
}

.sections {
   padding: 64px;
   height: 100%;
}

#section-contact {
   align-items: center;
   border-radius: 24px;
   display: flex;
   height: 100%;
   justify-content: center;
   margin: 0 64px 0 64px;
}

#card-contact {
   border: 3px solid black;
   border-radius: 16px;
   height: 70%;
   width: 80%;
}

#card-start {
   align-items: center;
   justify-content: center;
   display: flex;
   border-right: 3px solid black;
   height: 100%;
   background: yellow;
   width: 50%;
   float: left;
}

#card-end {
}

#icon-net {
   border: 3px solid black;
   display: block;
   height: 100%;
}

#card-networking h1 {
   font-size: 24px;
   text-transform:  uppercase;
   padding: 16px 16px 8px 0;
}

#card-networking a {
   text-decoration: none;
}

#card-networking i {
   padding: 8px 0 16px 0;
}

footer {
   margin: 48px;
}

footer div {
   font-size: 18px;
   margin: 48px;
   padding: 16px;
   text-align: center;
   text-transform: capitalize;
}